<app-header></app-header>

<section class="main" id="main" #main>
      
      <div class="mainContainer">
            <div class="fullcontainer">

               <div class="HeroSection">
                  <div class="image">
                     <img src="https://ik.imagekit.io/uhvinpqxo/New%20Warc%20Website/assets/images/LandingPage/heroImage.png?updatedAt=1725444739430" alt="">    
                      <!-- <video muted autoplay loop src="../../../../assets/images/LandingPage/herovideo2.mp4"></video> -->
                  </div>
                 <div class="text">
                  <button class="btn">
                     All Projects
                  </button>
                 </div>
                  
               </div>
               <div class="project">
                  <div class="image">
                     <img src="https://ik.imagekit.io/uhvinpqxo/New%20Warc%20Website/assets/images/LandingPage/Yellow.png?updatedAt=1725350058962" alt="">    
                  </div>
                 <div class="text">
                  <h3>Studio Yellow Something</h3>
                 </div>
                  
               </div>

               <div class="project">
                  <div class="image">
                     <img src="https://ik.imagekit.io/uhvinpqxo/New%20Warc%20Website/assets/images/LandingPage/bSmart2.png?updatedAt=1725350058947" alt="">    
                  </div>
                 <div class="text">
                  <h3>Bsmart by Bkash</h3>
                 </div>
                  
               </div>

               <div class="project">
                  <div class="image">
                     <img src="https://ik.imagekit.io/uhvinpqxo/New%20Warc%20Website/assets/images/LandingPage/LinRamadan.png?updatedAt=1725350058104" alt="">    
                  </div>
                 <div class="text">
                  <h3>LifeInRamadan</h3>
                 </div>
                  
               </div>

               <div class="project">
                  <div class="image">
                     <img src="https://ik.imagekit.io/uhvinpqxo/New%20Warc%20Website/assets/images/LandingPage/BBinaries.png?updatedAt=1725350059142" alt="">    
                  </div>
                 <div class="text">
                  <h3>BridgingBinaries</h3>
                 </div>
                  
               </div>
               
               <div class="project">
                  <div class="image">
                     <img src="https://ik.imagekit.io/uhvinpqxo/New%20Warc%20Website/assets/images/LandingPage/Ecoupon.png?updatedAt=1725350058067" alt="">    
                  </div>
                 <div class="text">
                  <h3>Coupon</h3>
                  
                 </div>
                  
               </div>
            </div>
      </div>
</section>

<section class="footer" id="footer" #footer>
   <div class="brand">
      <div class="svg">
        

          <img src="../../../assets/images/TeamsPage/brand.svg" alt="">
      </div>
    </div>
</section>
